# .NET Build / Output
bin/
obj/
*.exe
*.dll
*.pdb
*.suo
*.user
*.cache
*.vs/
*.vscode/
*.swp
*.tmp
*.log
*.nupkg
*.userprefs

# Публикация
publish/
out/
dist/

# Visual Studio / Rider / другие IDE
*.sln.docstates
*.csproj.user
*.rsln
.idea/               # Rider / IntelliJ
*.user
*.resharper.user

# Windows-specific
Thumbs.db
desktop.ini
